<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/" class="brand-logo">Tech Blogger</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                    <button id="logout" class="btn-no-style">logout</button>
                    <a href="/dashboard">Dashboard</a>
                {{else}}
                <a href="/login">Account</a>
                {{/if}}
            </nav>
        </header>
        <main class="container">
            {{{ body }}}
        </main>
        <footer class="page-footer">
            Thanks for visiting!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>