<section>
  <h2>Create New Post</h2>
  <div class="row">
    <form class="col s12 new-post-form">
      <div class="row">
        <div class="input-field col s6 m6">
          <textarea id="post-title" class="materialize-textarea" name="post-title"></textarea>
          <label for="post-title">Post Title</label>
        </div>
      </div>
      <div class="row">
      <div class="input-field col s6 m6">
        <textarea id="post-url" class="materialize-textarea" name="post-url"></textarea>
        <label for="post-url">URL Link</label>
      </div>
      </div>
      <button type="submit" class="btn cyan darken-3">Create Post</button>
    </form>
  </div>
</section>

{{#if posts.length}}
<div class="row">
  <div class="col s12">
    <section>
      <h2>Your Posts</h2>
        {{#each posts as |post|}}
          {{> post-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link btn cyan darken-3">Edit Post</a>
        {{/each}}
    </section>
  </div>
</div>

{{/if}}

<script src="/javascript/add-post.js"></script>

